# IntelliJ project files
.idea
*.iml
out
gen

# Maven
target/
*/target/*

# Articats
/operations/docker/*.jar

*/logs/*
application/configuration/logs/
deployment/docker/*.jar
load-tests/results.jtl
logs/
